.dialogs {
	&__user {
		padding-bottom: 20px;
		padding-top: 20px;
		padding-left: 25px;
		margin-right: 10px;
		padding: 0 auto;
	}

	&__link {
		margin-right: 10px;
		text-decoration: none;
		color: #69d0f8;

		border-radius: 10px;
		margin-bottom: 5px;
	}

	&__link.active {
		background-color: rgba(105, 208, 248, 0.2);
	}

	&__link:hover {
		background-color: rgba(105, 208, 248, 0.2);
	}
}
