.pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 15px;
	margin-right: 25px;
}

.page {
	font-size: 24px;
	cursor: pointer;
	padding: 7.5px;
	border: 2px solid rgba(105, 208, 248, 0.7);
	margin: 3px;
	display: flex;
	justify-content: center;
	color: rgba(105, 208, 248, 1);

	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

	&:hover {
		background-color: rgba(105, 208, 248, 1);
		color: #fff;
	}
}

.page.selected {
	color: #fff;
	background-color: rgba(105, 208, 248, 1);
}

.pag {
	color: rgba(105, 208, 248, 1);
	border: 2px solid rgba(105, 208, 248, 0.7);
	background: #fff;
	display: flex;
	align-items: center;
}

.arrows {
	fill: rgba(105, 208, 248, 1);
	height: 20px;
	width: 20px;
	color: rgba(105, 208, 248, 1);
}
