.nav {
	grid-area: n;
	background-color: rgba(248, 129, 129, 0.233);

	&__link {
		display: block;
		text-decoration: none;
		font-family: "Lato", sans-serif;
		font-weight: normal;
		font-size: 20px;
		color: #69d0f8;
		max-width: 110px;
		width: 100%;
		margin: 0 auto;

		transition: color 0.3s linear 0s;
	}

	&__button {
		border: #69d0f8 solid 1px;
		text-align: center;
		padding: 10px;
		width: 100%;
		max-width: 110px;
		border-radius: 10px;
		margin: 20px auto;
		transition: background-color 0.3s linear 0s, border 0.3s linear 0s;
	}

	&__button:hover {
		background-color: rgba(105, 208, 248, 0.7);
		border: rgba(105, 208, 248, 0.3) solid 1px;
	}

	&__link:hover {
		color: #fff;
	}

	&__link.active &__button {
		background-color: rgba(105, 208, 248, 0.7);
		border: rgba(105, 208, 248, 0.3) solid 1px;
	}

	&__link.active {
		color: #fff;
	}

	&__link:last-child {
		margin-top: 100px;
	}
}
