//!Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

//!Nullstyle
@import "_nullstyle";

//Wrapper
.wrapper {
	display: grid;

	max-width: 1200px;

	margin: 0 auto;

	grid-template-areas:
		"h h"
		"n c";

	grid-template-rows: 100px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;

	&__content {
		grid-area: c;
	}
}
