.formControl.error textarea {
	border: red 1px solid;
}

.errorText.error {
	display: inline-block;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: red;
	border-radius: 15px;
	margin-top: 15px;
	padding: 7px;
}

.errorText {
}
